.has-error {
	.help-block {
	    padding: 0 10px;
	    font-style: italic;
	}
}

.form-control {
	border-radius: 0;
}

.action-buttons {
	display: block;
	margin-top: 1em;
}

.flatpickr-wrapper {
	.flatpickr-calendar {
		.flatpickr-days {
			.flatpickr-day {
				border-radius: 0;
			}
		}

		.flatpickr-month {
			.flatpickr-prev-month,
			.flatpickr-next-month {
				width: 2em;
				height: 2em;
				line-height: 2em;
			}
		}
	}
}
